<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Recipe Book {% block title %}{% endblock %}</title>
    <style></style>
    {% block style %}{% endblock %}
</head>
<body>
    <header>
        <h1>Recipe Book</h1>
    </header>
    {% block header %}{% endblock %}
    {% block body %}{% endblock %}
    {% block scripts %}{% endblock %}
    <p></p>
    {% if request.user.is_authenticated %}
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <p></p>
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</body>
</html>