{% extends 'base.html' %}
{% load static %}

{% block header %}
<h2>Recipe Detail</h2>
{% endblock %}

{% block body %}
<h3>{{name}}</h3>
<p><em>By: {{author}}</em></p>

{% if images %}
{% for image in images %}
<img src="{{ image.recipe_image.url }}" alt="{{ image.description }}">
{% endfor %}
{% endif %}

<ul>
    {% for ingredient in ingredients %}
    <li>{{ingredient.ingredient.name}}: {{ingredient.quantity}}</li>
    {% endfor %}
    <p></p>
</ul>

<a href="add_image">Upload images</a>
<p></p>
<a href="/recipes/list/">Go back to recipes list</a>
{% endblock %}